.gradle/
build/
out/
bin/
*.log
*.tmp
*.swp
*.class
**/*.class
*.jar
*.pid
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
/run/
server/
resourcepack/*.zip
resourcepack/**/optifine/
resourcepack/**/cit/
.classpath
.project
.settings/
