.gradle/
build/
out/
bin/
*.log
*.tmp
*.swp
*.class
*.jar
*.pid
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
/run/
gradle/wrapper/gradle-wrapper.jar
server/
resourcepack/*.zip
.classpath
.project
.settings/
